<h3 md-dialog-title>Add a user</h3>


<form #form="ngForm" (ngSubmit)="dialogRef.close(form.value)" ngNativeValidate>
    <div fxLayout="column" fxLayoutGap="8px">
      <md-input-container>
        <input mdInput ngModel name="name" placeholder="Full name" required>
      </md-input-container>

      <md-input-container>
        <input mdInput ngModel name="bs" placeholder="Corporate Jargon BS" required>
      </md-input-container>
    </div>

  <md-dialog-actions align="end">
    <button md-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button md-button color="accent">Save User</button>
  </md-dialog-actions>
</form>